/*Início do Geral*/
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: 'Poppins';
  src: url(/Texturas_Letras/poppins.zip);
}
@font-face {
  font-family: 'Montserrat';
  src: url(/Texturas_Letras/Montserrat.zip);
}
/*Fim do Geral*/
/*Início do Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #ff0000;
  padding: 0 20px;
}
.dropbtn {
  background-color: #ff0000;
  color: white;
  font-size: 40px;
  border: none;
  max-height: 40px;
  margin-left: 10px;
}
.dropdown {
  height: 60px;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.logo {
  padding-left: 10px;
  width: 50px;
  height: 50px;
}
.menu-pesquisa {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.pesquisa {
  width: 100px;
  border-radius: 5px;
}
.onclick_header {
  color: #ffffff;
  text-decoration: none;
}
/*Fim do Header*/
/*Início do Main*/
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
}
.login-container {
  background-color: #ff0000;
  padding: 30px;
  border-radius: 25px;
  width: 100%;
  width: 500px;
  box-shadow: 15px 20px 5px #e0e3e5;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-form h2 {
  font-family: 'Poppins';
  font-size: 48px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.login-form p {
  font-family: 'Poppins';
  font-size: 36px;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
.input-field-text {
  font-family: 'Montserrat';
  font-size: 28px;
  color: #000000b3;
  padding: 10px;
  padding-left: 20px;
  border: none;
  border-radius: 34.5px;
  background-color: #e0e3e5;
  margin-bottom: 50px;
  width: 350px;
}
.enviar {
  font-family: 'Poppins';
  font-size: 35px;
  border: none;
  border-radius: 34.5px;
  margin-top: 20px;
  color: #000000b3;
  width: 267.92px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/*Fim do Main*/
/*Início do Footer*/
footer {
  width: full;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 110px;
  margin-top: auto;
}
.botao_voltar {
  margin-bottom: 10px;
  border-radius: 20px;
  gap: 5px;
  display: flex;
  padding: 5px;
  border: solid 1px #000000;
  background-color: #ffffff;
  margin-top: 15px;
  padding-right: 15px;
  font-size: 13px;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  width: 70%;
}
/*Fim do Footer*/
/*Início do Responsivo*/
@media all and (max-width: 570px) {
  .login-container {
    width: 250px;
  }
  .login-form h2 {
    font-size: 24px;
    padding-bottom: 25px;
  }
  .input-field-text {
    font-size: 14px;
    width: 175px;
    margin-bottom: 25px;
  }
  .input-field-password {
    font-size: 14px;
    width: 175px;
  }
  .forgot-password {
    font-size: 12px;
    padding-left: 100px;
  }
  .enviar {
    font-size: 17.5px;
    width: 133.96px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  .criar_conta {
    font-size: 12px;
    margin-bottom: 100px;
  }
}
@media all and (max-width: 760px) {
  footer {
    padding: 0px;
    margin-left: 35%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
  .footer-item {
    margin-bottom: 20px;
  }
}
@media all and (max-width: 500px) {
  footer {
    padding: 0px;
    margin-left: 25%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
}
@media all and (max-width: 500px) {
  footer {
    padding: 0px;
    margin-left: 25%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
}
@media all and (max-width: 400px) {
  footer {
    padding: 0px;
    margin-left: 20%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
}
@media all and (max-width: 360px) {
  footer {
    padding: 0px;
    margin-left: 15%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
}
@media all and (max-width: 320px) {
  footer {
    padding: 0px;
    margin-left: 10%;
  }
  .botao_voltar {
    margin-left: 15%;
  }
  .footer-container {
    display: inline-block;
  }
}
/*Fim do Responsivo*/
