/*Início do Geral*/
*{
    margin: 0;
    padding: 0;
}
/*Fim do Geral*/
/*Início do Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #FF0000;
}
.dropbtn {
    background-color: #FF0000;
    color: white;
    font-size: 40px;
    border: none;
    max-height: 40px;
    margin-left: 10px;
}
.dropdown {
    height: 60px;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    order: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.menu-pesquisa {
    display: flex;
    gap: 10px;
}
.onclick_header{
    color: #000000;
    text-decoration: none;
}
/*Fim do Header*/
/*Início do Main*/
main{
    display: flex;
    justify-content: center;
    width: full;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ajuste{
    display: flex;
    justify-content: space-between;
}
.tabela_com_os_produtos{
    margin-top: 100px;
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
}
.dadosItens{
    width: 130px;
    padding-bottom: 10px;
}
.imagem_do_produto {
    max-width: 200px;
    max-height: 100px;
}
.botoes_compra{
    background-color: #FF0000;
    width: 320px;
    height: 250px;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 20px 15px 10px 0px;
}
main h3{
    font-size: 15px;
}
.descricao{
    white-space: pre-line;
}
main h4{
    font-family: 'Poppins';
    font-size: 20px;
}
.quant_item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
}
.quantidade-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantidade-input{
    border: none;
    width: 10px;
}
.quantidade-btn{
    background-color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/* Remove os spinners do campo de número no Chrome, Safari e Edge */
.quantidade-input::-webkit-inner-spin-button,
.quantidade-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
/* Remove os spinners no Firefox */
.quantidade-input{
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* Chrome, Safari */
  appearance: textfield;
}
.carrinho{
    align-items: center;
    justify-items: center;
    width: 15px;
    height: 15px;
    padding-right: 5px;
}
.remove-product-button {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.textoTotal{
    padding-left: 110px;
}
.caixa_compra{
    padding-left: 50px;
    margin-top: 100px;
}
.letras_compras{
    display: flex;
    width: 320px;
    padding: 5px;
    padding-top: 10px;
    margin-left: -10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #060606;
    border-width: 1px;
    /*font-family: Montserrat; NÃO TEM*/
}
.letras_compras.verde{
    background-color: #00ff00;
}
.ir_para_finalizacao{
    width: 110px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px 0px;
}
.letras_ida_para_finalizacao{
    align-items: center;
    justify-items: center;
    border-radius: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FF0000;
    color: #DDE6ED;
    border: none;
}
/*Fim do Main*/
/*Início do Footer*/
footer{
    padding: 30px;
    width: full;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 110px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 70%;
}
.image-footer {
    width: 20%;
    height: 48px;
}
/*Fim do Footer*/